<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">

      <div class="row">
          <img src="[[image]]" width="100px" height="100px" >
      </div>
      <div class="row">
          <button class="btn btn-success" on-click="incrementar">Cargar Datos</button>
          <input type="text" placeholder="[[msjAyuda]]" value="{{prop1::input}}">
          <table class="table table-striped col-lg-12 col-xs12">
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Juan</td>
                  <td>Perez</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Aldo</td>
                  <td>Medina</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Ruben</td>
                  <td>Veloz</td>
                </tr>
              </tbody>
            </thead>
          </table>
      </div>

    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          image: {
            type: String,
            value: 'https://image.flaticon.com/icons/svg/1055/1055669.svg'
          },
          prop2 : {
            type : Number,
            value : 1000

          }
          ,
          msjAyuda : {
            type : String,
            value : "Escribe algo"
          },
          prop1: {
            type : String
          }
        };
      }
      incrementar (){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop2);
        console.log(this.prop1);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
